<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="space-y-5">
    <app-input-field label="Email" type="email" placeholder="exemple@mail.com"
        formControlName="email"></app-input-field>
    <div class="my-6"></div>
    <app-input-field label="Mot de passe" type="password" placeholder="••••••••"
        formControlName="password"></app-input-field>

    <div class="flex items-center justify-between text-sm my-3">
        <label class="flex items-center space-x-2">
            <input type="checkbox" class="rounded">
            <span>Se souvenir de moi</span>
        </label>

        <a href="#" class="text-blue-500 hover:underline">
            Mot de passe oublié ?
        </a>
    </div>

    <app-button [disabled]="!loginForm.valid" type="submit" text="Se connecter"></app-button>

    @if (errorMsg()) {
    <div class="relative">
        <div class="absolute inset-x-0 text-center text-red-400 text-sm">
            {{ errorMsg() }}
        </div>
    </div>
    }
</form>