<div class="relative">
    <button (click)="toggle($event)" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 cursor-pointer">
        ⋮
    </button>

    @if (isOpen) {
    <div class="absolute right-8 mt-0 w-32 bg-white border rounded shadow-lg z-50">
        @for (action of actions; track $index) {
        <button (click)="onAction(action)" class="block w-full text-left px-4 py-2 hover:bg-gray-100 cursor-pointer">
            {{ action.label }}
        </button>
        }
    </div>
    }
</div>